<template>
    <div>
    
        <input type="number" v-model="num">
        <ol v-if="num">
            <li v-for="(item, index) in 10" v-bind:key="item">{{ num }} * {{ index + 1 }} = {{ num * (index+1) }}</li>
        </ol>
    </div>
</template>

<script>
export default {
  name: 'Multi',
  props: {    
  },
  data() {
      return{
          num : ''
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div{
    text-align: left;
    font-size: 20px;
}
li{
    padding-left: 25px;
}
</style>
